$black:black;
$white:white;
$bisque:bisque;
$shadow:rgb(157, 157, 195);
$font1: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$font2:"Mea Culpa", cursive;
$font3: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
"Lucida Sans Unicode", Geneva, Verdana, sans-serif;